In [1]:
from google.colab import drive
import pandas as pd
import numpy as np
import os
import glob
from datetime import *
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args

    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)

    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

In [3]:
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
PATH = "drive/MyDrive/Hackathon - Air Quality Notebooks/Data"

dfs = []
for i in range(0, 6):
  tmp_df = pd.read_csv(f'{PATH}/data{i:02d}.csv', sep=',')
  dfs.append(tmp_df)
df = pd.concat(dfs)

# Convert Timestamp String to DateTime

In [5]:
df['timestamp'] = pd.to_datetime(df['timestamp'])
df = df.sort_values("timestamp")

In [6]:
print(df.dtypes)
df

timestamp          datetime64[ns, pytz.FixedOffset(60)]
value                                           float64
parameter                                        object
device_id                                         int64
chip_id                                          object
sensor_type                                       int64
sensor_id                                         int64
location_id                                       int64
location                                         object
street_name                                      object
city                                             object
country                                          object
latitude                                        float64
longitude                                       float64
deployment_date                                  object
dtype: object

,timestamp,value,parameter,device_id,chip_id,sensor_type,sensor_id,location_id,location,street_name,city,country,latitude,longitude,deployment_date
153157,2022-01-01 00:00:18.085000+01:00,27.00,PM 2.5,97,esp8266-1534596,9,158,7,Code for Kenya,"Nairobi Garage, 8th Floor, Pinetree Plaza, Kab...",Nairobi,Kenya,-1.298294,36.790870,2020-01-21 12:12:46.533 +0100
153158,2022-01-01 00:00:18.085000+01:00,32.00,PM 10,97,esp8266-1534596,9,158,7,Code for Kenya,"Nairobi Garage, 8th Floor, Pinetree Plaza, Kab...",Nairobi,Kenya,-1.298294,36.790870,2020-01-21 12:12:46.533 +0100
153159,2022-01-01 00:00:18.085000+01:00,17.67,PM 1,97,esp8266-1534596,9,158,7,Code for Kenya,"Nairobi Garage, 8th Floor, Pinetree Plaza, Kab...",Nairobi,Kenya,-1.298294,36.790870,2020-01-21 12:12:46.533 +0100
153160,2022-01-01 00:00:24.050000+01:00,94.40,Humidity,97,esp8266-1534596,2,159,7,Code for Kenya,"Nairobi Garage, 8th Floor, Pinetree Plaza, Kab...",Nairobi,Kenya,-1.298294,36.790870,2020-01-21 12:13:17.252 +0100
153161,2022-01-01 00:00:24.050000+01:00,16.50,Temperature,97,esp8266-1534596,2,159,7,Code for Kenya,"Nairobi Garage, 8th Floor, Pinetree Plaza, Kab...",Nairobi,Kenya,-1.298294,36.790870,2020-01-21 12:13:17.252 +0100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985859,2022-09-10 09:19:51.687000+01:00,22.70,Temperature,105,esp8266-1532917,2,177,3612,Redcliffe Gardens,Muringa Road,Nairobi,Kenya,-1.296000,36.776000,2020-08-12 11:06:59.812 +0100
985860,2022-09-10 09:19:53.711000+01:00,61.20,Humidity,99,esp8266-1530897,2,163,7,Code for Kenya,"Nairobi Garage, 8th Floor, Pinetree Plaza, Kab...",Nairobi,Kenya,-1.298294,36.790870,2020-01-21 12:47:32.742 +0100
985861,2022-09-10 09:19:53.711000+01:00,22.20,Temperature,99,esp8266-1530897,2,163,7,Code for Kenya,"Nairobi Garage, 8th Floor, Pinetree Plaza, Kab...",Nairobi,Kenya,-1.298294,36.790870,2020-01-21 12:47:32.742 +0100
985863,2022-09-10 09:20:02.183000+01:00,22.70,Temperature,72,esp8266-2609194,2,139,3576,"Mathare Social Justice Center, Juja Rd",Juja Rd,Nairobi,Kenya,-1.265495,36.856859,2019-03-27 10:03:36.464 +0100
985862,2022-09-10 09:20:02.183000+01:00,58.30,Humidity,72,esp8266-2609194,2,139,3576,"Mathare Social Justice Center, Juja Rd",Juja Rd,Nairobi,Kenya,-1.265495,36.856859,2019-03-27 10:03:36.464 +0100

In [52]:
dfTimeDiff = df['timestamp'] - df['timestamp'].shift(1)
dfTimeDiff[0] = dfTimeDiff[1]

In [60]:
dfTimeDiff.describe()

count                      5999998
mean     0 days 00:00:03.634398539
std      0 days 00:25:28.066809125
min                0 days 00:00:00
25%                0 days 00:00:00
50%                0 days 00:00:00
75%         0 days 00:00:00.786000
max        43 days 07:41:48.303000
Name: timestamp, dtype: object

In [67]:
# Grouping by 'device_id' and similar timestamps, aggregating 'value_type' and 'value' into lists
grouped2 = (df.groupby(['device_id', pd.Grouper(key='timestamp', freq='30s')])
           .agg({'parameter': list, 'value': list, 'latitude': max, 'longitude': max})
           .reset_index())

In [68]:
grouped2 = grouped2[grouped2['value'].str.len() == 5]

In [72]:
MINSAMPLERATE = 30
MAXSAMPLERATE = 32

for i in range(MINSAMPLERATE, MAXSAMPLERATE):
  temp = (df.groupby(['device_id', pd.Grouper(key='timestamp', freq=f'{i}s')])
            .agg({'parameter': list, 'value': list, 'latitude': max, 'longitude': max})
            .reset_index())
  grouped2 = pd.concat([grouped2, temp[temp['value'].str.len() == 5]])

KeyboardInterrupt: ignored

In [76]:
grouped2

,device_id,timestamp,parameter,value,latitude,longitude
0,27,2022-05-25 08:58:00+01:00,"[PM 10, PM 2.5, PM 1, Humidity, Temperature]","[59.5, 46.5, 32.0, 54.4, 24.1]",-1.288985,36.824679
1,27,2022-05-25 08:58:30+01:00,"[PM 1, PM 10, PM 2.5, Temperature, Humidity]","[29.0, 48.0, 41.0, 24.0, 54.8]",-1.288985,36.824679
2,27,2022-05-25 08:59:00+01:00,"[PM 2.5, PM 10, PM 1, Temperature, Humidity]","[49.0, 61.5, 33.0, 24.1, 55.2]",-1.288985,36.824679
3,27,2022-05-25 08:59:30+01:00,"[PM 10, PM 2.5, PM 1, Temperature, Humidity]","[62.0, 48.4, 34.0, 24.1, 56.0]",-1.288985,36.824679
4,27,2022-05-25 09:00:30+01:00,"[PM 2.5, PM 10, PM 1, Humidity, Temperature]","[45.5, 55.5, 32.0, 54.7, 24.2]",-1.288985,36.824679
...,...,...,...,...,...,...
1236728,302,2022-03-17 08:52:05+01:00,"[PM 2.5, PM 10, PM 1, Temperature, Humidity]","[29.5, 32.25, 19.25, 27.0, 47.2]",-1.298294,36.790870
1236729,302,2022-03-17 08:53:15+01:00,"[PM 1, PM 2.5, PM 10, Humidity, Temperature]","[19.8, 29.4, 34.2, 47.4, 26.7]",-1.298294,36.790870
1236736,302,2022-03-17 08:57:20+01:00,"[PM 1, PM 10, PM 2.5, Humidity, Temperature]","[20.0, 35.0, 32.0, 47.6, 27.0]",-1.298294,36.790870
1236737,302,2022-03-17 08:58:30+01:00,"[PM 2.5, PM 10, PM 1, Humidity, Temperature]","[31.0, 32.0, 19.0, 47.5, 27.0]",-1.298294,36.790870
1236738,302,2022-03-17 08:59:40+01:00,"[PM 2.5, PM 10, PM 1, Humidity, Temperature]","[30.0, 31.67, 19.0, 46.9, 27.0]",-1.298294,36.790870

In [22]:
grouped2['parameter'] = grouped2['parameter'].apply(np.array)
grouped2['value'] = grouped2['value'].apply(np.array)

In [77]:
df27 = df[df['device_id'] == 27].head(25)
grouped27 = grouped2[grouped2['device_id'] == 27].head(25)
display('grouped27', 'df27')

grouped27
    device_id                 timestamp  \
0          27 2022-05-25 08:58:00+01:00
1          27 2022-05-25 08:58:30+01:00
2          27 2022-05-25 08:59:00+01:00
3          27 2022-05-25 08:59:30+01:00
4          27 2022-05-25 09:00:30+01:00
5          27 2022-06-14 08:08:30+01:00
6          27 2022-06-14 08:09:00+01:00
7          27 2022-06-14 08:09:30+01:00
10         27 2022-06-14 08:11:00+01:00
11         27 2022-06-14 08:11:30+01:00
12         27 2022-06-14 08:13:00+01:00
13         27 2022-06-14 08:13:30+01:00
16         27 2022-06-14 08:15:00+01:00
17         27 2022-06-14 08:15:30+01:00
18         27 2022-06-14 08:16:00+01:00
19         27 2022-06-14 08:16:30+01:00
20         27 2022-06-14 08:17:00+01:00
21         27 2022-06-14 08:17:30+01:00
22         27 2022-06-14 08:18:00+01:00
23         27 2022-06-14 08:18:30+01:00
24         27 2022-06-14 08:19:00+01:00
25         27 2022-06-14 08:19:30+01:00
26         27 2022-06-14 08:20:00+01:00
27         27 2022-06-14 08:20:30+01:00
28         27 2022-06-14 08:21:00+01:00

                                       parameter  \
0   [PM 10, PM 2.5, PM 1, Humidity, Temperature]
1   [PM 1, PM 10, PM 2.5, Temperature, Humidity]
2   [PM 2.5, PM 10, PM 1, Temperature, Humidity]
3   [PM 10, PM 2.5, PM 1, Temperature, Humidity]
4   [PM 2.5, PM 10, PM 1, Humidity, Temperature]
5   [PM 2.5, PM 1, PM 10, Temperature, Humidity]
6   [PM 2.5, PM 10, PM 1, Humidity, Temperature]
7   [PM 2.5, PM 10, PM 1, Humidity, Temperature]
10  [PM 1, PM 10, PM 2.5, Humidity, Temperature]
11  [PM 2.5, PM 10, PM 1, Humidity, Temperature]
12  [PM 2.5, PM 10, PM 1, Humidity, Temperature]
13  [PM 1, PM 10, PM 2.5, Temperature, Humidity]
16  [PM 2.5, PM 10, PM 1, Humidity, Temperature]
17  [PM 10, PM 1, PM 2.5, Temperature, Humidity]
18  [PM 1, PM 2.5, PM 10, Humidity, Temperature]
19  [PM 2.5, PM 10, PM 1, Humidity, Temperature]
20  [PM 1, PM 10, PM 2.5, Humidity, Temperature]
21  [PM 10, PM 1, PM 2.5, Temperature, Humidity]
22  [PM 2.5, PM 10, PM 1, Humidity, Temperature]
23  [PM 2.5, PM 10, PM 1, Humidity, Temperature]
24  [PM 2.5, PM 10, PM 1, Humidity, Temperature]
25  [PM 10, PM 1, PM 2.5, Humidity, Temperature]
26  [PM 2.5, PM 1, PM 10, Temperature, Humidity]
27  [PM 2.5, PM 10, PM 1, Humidity, Temperature]
28  [PM 2.5, PM 10, PM 1, Humidity, Temperature]

                                value  latitude  longitude
0      [59.5, 46.5, 32.0, 54.4, 24.1] -1.288985  36.824679
1      [29.0, 48.0, 41.0, 24.0, 54.8] -1.288985  36.824679
2      [49.0, 61.5, 33.0, 24.1, 55.2] -1.288985  36.824679
3      [62.0, 48.4, 34.0, 24.1, 56.0] -1.288985  36.824679
4      [45.5, 55.5, 32.0, 54.7, 24.2] -1.288985  36.824679
5      [28.4, 20.6, 35.4, 20.9, 62.5] -1.288985  36.824679
6      [23.6, 27.6, 16.4, 62.0, 20.9] -1.288985  36.824679
7      [30.2, 34.0, 19.8, 61.5, 20.9] -1.288985  36.824679
10     [16.4, 34.8, 28.2, 61.1, 21.0] -1.288985  36.824679
11     [25.2, 26.4, 18.2, 60.9, 21.0] -1.288985  36.824679
12     [20.0, 22.6, 14.0, 61.1, 21.2] -1.288985  36.824679
13   [15.75, 31.5, 25.75, 21.3, 60.1] -1.288985  36.824679
16     [24.0, 27.0, 12.5, 59.5, 21.4] -1.288985  36.824679
17  [18.25, 12.75, 18.25, 21.5, 59.4] -1.288985  36.824679
18     [14.8, 20.4, 23.4, 59.4, 21.6] -1.288985  36.824679
19     [23.4, 26.4, 14.6, 59.1, 21.6] -1.288985  36.824679
20     [13.0, 26.4, 20.2, 59.0, 21.7] -1.288985  36.824679
21     [20.8, 12.6, 18.4, 21.7, 58.9] -1.288985  36.824679
22    [15.5, 17.75, 12.5, 58.8, 21.8] -1.288985  36.824679
23     [16.6, 19.8, 10.2, 58.7, 21.9] -1.288985  36.824679
24     [17.8, 17.8, 12.4, 58.6, 21.9] -1.288985  36.824679
25     [22.6, 15.2, 20.8, 58.5, 21.9] -1.288985  36.824679
26     [22.2, 13.8, 22.2, 22.0, 58.3] -1.288985  36.824679
27  [20.25, 21.25, 12.25, 58.2, 22.0] -1.288985  36.824679
28     [18.2, 18.2, 11.2, 58.2, 22.1] -1.288985  36.824679

df27
                              timestamp  value    parameter  device_id  \
334708 2022-05-25 08:58:21.831000+01:00   59.5        PM 10         27
334707 2022-05-25 08:58:21.831000+01:00   46.5       PM 2.5         27
334709 2022-05-25 08:58:21.831000+01:00   32.0         PM 1         27
334710 2022-05-25 08:58:22.622000+01:00   54.4     Humidity         27
334711 2022-05-25 08:58:22.622000+01:00   24.1  Temperature         27
334719 2022-05-25 08:58:54.043000+01:00   29.0         PM 1         27
334718 2022-05-25 08:58:54.043000+01:00   48.0        PM 10         27
334717 2022-05-25 08:58:54.043000+01:00   41.0       PM 2.5         27
334721 2022-05-25 08:58:55.115000+01:00   24.0  Temperature         27
334720 2022-05-25 08:58:55.115000+01:00   54.8     Humidity         27
334735 2022-05-25 08:59:26.143000+01:00   49.0       PM 2.5         27
334736 2022-05-25 08:59:26.143000+01:00   61.5        PM 10         27
334737 2022-05-25 08:59:26.143000+01:00   33.0         PM 1         27
334739 2022-05-25 08:59:27.006000+01:00   24.1  Temperature         27
334738 2022-05-25 08:59:27.007000+01:00   55.2     Humidity         27
334746 2022-05-25 08:59:58.553000+01:00   62.0        PM 10         27
334745 2022-05-25 08:59:58.553000+01:00   48.4       PM 2.5         27
334747 2022-05-25 08:59:58.553000+01:00   34.0         PM 1         27
334749 2022-05-25 08:59:59.435000+01:00   24.1  Temperature         27
334748 2022-05-25 08:59:59.435000+01:00   56.0     Humidity         27
334750 2022-05-25 09:00:30.461000+01:00   45.5       PM 2.5         27
334751 2022-05-25 09:00:30.461000+01:00   55.5        PM 10         27
334752 2022-05-25 09:00:30.461000+01:00   32.0         PM 1         27
334753 2022-05-25 09:00:31.313000+01:00   54.7     Humidity         27
334754 2022-05-25 09:00:31.313000+01:00   24.2  Temperature         27

                 chip_id  sensor_type  sensor_id  location_id  \
334708  esp8266-11639153            9         49         3573
334707  esp8266-11639153            9         49         3573
334709  esp8266-11639153            9         49         3573
334710  esp8266-11639153            2         50         3573
334711  esp8266-11639153            2         50         3573
334719  esp8266-11639153            9         49         3573
334718  esp8266-11639153            9         49         3573
334717  esp8266-11639153            9         49         3573
334721  esp8266-11639153            2         50         3573
334720  esp8266-11639153            2         50         3573
334735  esp8266-11639153            9         49         3573
334736  esp8266-11639153            9         49         3573
334737  esp8266-11639153            9         49         3573
334739  esp8266-11639153            2         50         3573
334738  esp8266-11639153            2         50         3573
334746  esp8266-11639153            9         49         3573
334745  esp8266-11639153            9         49         3573
334747  esp8266-11639153            9         49         3573
334749  esp8266-11639153            2         50         3573
334748  esp8266-11639153            2         50         3573
334750  esp8266-11639153            9         49         3573
334751  esp8266-11639153            9         49         3573
334752  esp8266-11639153            9         49         3573
334753  esp8266-11639153            2         50         3573
334754  esp8266-11639153            2         50         3573

                                             location         street_name  \
334708  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334707  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334709  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334710  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334711  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334719  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334718  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334717  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334721  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334720  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334735  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334736  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334737  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334739  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334738  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334746  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334745  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334747  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334749  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334748  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334750  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334751  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334752  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334753  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave
334754  August 7th Memorial  Park, Haile Selassie Ave  Haile Selassie Ave

           city country  latitude  longitude                deployment_date
334708  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:37:58.501 +0100
334707  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:37:58.501 +0100
334709  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:37:58.501 +0100
334710  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:38:12.408 +0100
334711  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:38:12.408 +0100
334719  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:37:58.501 +0100
334718  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:37:58.501 +0100
334717  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:37:58.501 +0100
334721  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:38:12.408 +0100
334720  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:38:12.408 +0100
334735  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:37:58.501 +0100
334736  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:37:58.501 +0100
334737  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:37:58.501 +0100
334739  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:38:12.408 +0100
334738  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:38:12.408 +0100
334746  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:37:58.501 +0100
334745  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:37:58.501 +0100
334747  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:37:58.501 +0100
334749  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:38:12.408 +0100
334748  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:38:12.408 +0100
334750  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:37:58.501 +0100
334751  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:37:58.501 +0100
334752  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:37:58.501 +0100
334753  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:38:12.408 +0100
334754  Nairobi   Kenya -1.288985  36.824679  2018-07-17 12:38:12.408 +0100

## Label-Data Split

In [80]:
valueNumpy = np.vstack(grouped2['value'].to_numpy())

In [83]:
label = valueNumpy[:, :3]
label

array([[59.5 , 46.5 , 32.  ],
       [29.  , 48.  , 41.  ],
       [49.  , 61.5 , 33.  ],
       ...,
       [20.  , 35.  , 32.  ],
       [31.  , 32.  , 19.  ],
       [30.  , 31.67, 19.  ]])

In [88]:
data = valueNumpy[:, 3:5]
data

array([[54.4, 24.1],
       [24. , 54.8],
       [24.1, 55.2],
       ...,
       [47.6, 27. ],
       [47.5, 27. ],
       [46.9, 27. ]])

In [95]:
X_train, Y_train = data[:int(len(data)/2)], label[:int(len(label)/2)]
X_test, Y_test = data[int(len(data)/2)+1:-1], label[int(len(label)/2)+1: -1]

# Neural Network

In [120]:
import tensorflow as tf

model = tf.keras.Sequential([
    tf.keras.Input(shape=(2)),
    tf.keras.layers.Dense(20, activation="elu", kernel_initializer="he_normal"),
    tf.keras.layers.BatchNormalization(),
    tf.keras.layers.Dropout(rate=0.5),
    tf.keras.layers.Dense(10, activation="elu", kernel_initializer="he_normal"),
    tf.keras.layers.BatchNormalization(),
    tf.keras.layers.Dropout(rate=0.5),
    tf.keras.layers.Dense(6, activation="elu", kernel_initializer="he_normal"),
    tf.keras.layers.BatchNormalization(),
    tf.keras.layers.Dropout(rate=0.5),
    tf.keras.layers.Dense(3)
])

model.compile(optimizer='adam', loss='mean_squared_error')

In [121]:
checkpoint_cb = tf.keras.callbacks.ModelCheckpoint("AirQModel2.h5",
                                                save_best_only=True)

early_stopping_cb = tf.keras.callbacks.EarlyStopping(patience=10,
                                                  restore_best_weights=True)
model.fit(X_train, Y_train, epochs=1000, validation_split=.1, callbacks=[checkpoint_cb, early_stopping_cb ])

Epoch 1/1000
81315/81315 [==============================] - 300s 4ms/step - loss: 142.0328 - val_loss: 231.4353
Epoch 2/1000
   34/81315 [..............................] - ETA: 4:12 - loss: 139.0685

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

81315/81315 [==============================] - 302s 4ms/step - loss: 136.1268 - val_loss: 239.3340
Epoch 3/1000
81315/81315 [==============================] - 295s 4ms/step - loss: 136.0616 - val_loss: 241.6291
Epoch 4/1000
81315/81315 [==============================] - 295s 4ms/step - loss: 136.0129 - val_loss: 241.9134
Epoch 5/1000
81315/81315 [==============================] - 295s 4ms/step - loss: 135.9853 - val_loss: 241.3942
Epoch 6/1000
81315/81315 [==============================] - 299s 4ms/step - loss: 135.8573 - val_loss: 250.3637
Epoch 7/1000
81315/81315 [==============================] - 290s 4ms/step - loss: 135.7749 - val_loss: 225.8979
Epoch 8/1000
81315/81315 [==============================] - 301s 4ms/step - loss: 135.7868 - val_loss: 226.6295
Epoch 9/1000
81315/81315 [==============================] - 296s 4ms/step - loss: 135.6911 - val_loss: 225.7061
Epoch 10/1000
81315/81315 [==============================] - 296s 4ms/step - loss: 135.6946 - val_loss: 231.5274
Epoch 11/1000
81315/81315 [==============================] - 301s 4ms/step - loss: 135.6084 - val_loss: 235.7937
Epoch 12/1000
81315/81315 [==============================] - 294s 4ms/step - loss: 135.5990 - val_loss: 222.9551
Epoch 13/1000
81315/81315 [==============================] - 298s 4ms/step - loss: 135.4676 - val_loss: 227.3164
Epoch 14/1000
81315/81315 [==============================] - 304s 4ms/step - loss: 135.4968 - val_loss: 223.5016
Epoch 15/1000
30494/81315 [==========>...................] - ETA: 2:56 - loss: 135.6640

KeyboardInterrupt: ignored

In [ ]:
# Timestampt from string to date time, and calls GroupDeviceIDRows
def CleanData(df):
  df['timestamp'] = pd.to_datetime(df['timestamp'])
  df = df.sort_values("timestamp")

  grouped2 = GroupDeviceIDRows(df)
  grouped2['parameter'] = grouped2['parameter'].apply(np.array)
  grouped2['value'] = grouped2['value'].apply(np.array)
  return grouped2

# Groups rows by device ID and how close the rows are to each timestamp. There is a for loop to iterate from 30-32 seconds, mainly because most of the data has time differences within that range.
def GroupDeviceIDRows(df, MinSampleRate = 31, MaxSampleRate = 32):
  grouped2 = (df.groupby(['device_id', pd.Grouper(key='timestamp', freq=f'30s')])
              .agg({'parameter': list, 'value': list, 'latitude': max, 'longitude': max})
              .reset_index())
  grouped2 = grouped2[grouped2['value'].str.len() == 5]
  for i in range(MinSampleRate, MaxSampleRate):
    temp = (df.groupby(['device_id', pd.Grouper(key='timestamp', freq=f'{i}s')])
              .agg({'parameter': list, 'value': list, 'latitude': max, 'longitude': max})
              .reset_index())
    grouped2 = pd.concat([grouped2, temp[temp['value'].str.len() == 5]])
  return grouped2

# Splits data into x train, y train, x test, and y test. "df" is assumed to be the returned dataset from "CleanData".
def TrainTestSplit(df):
  valueNumpy = np.vstack(df['value'].to_numpy())
  label = valueNumpy[:, :3]
  data = valueNumpy[:, 3:5]
  X_train, Y_train = data[:int(len(data)/2)], label[:int(len(label)/2)]
  X_test, Y_test = data[int(len(data)/2)+1:-1], label[int(len(label)/2)+1: -1]
  return (X_train, Y_train, X_test, Y_test)

In [125]:
model.predict([[2,3]])

1/1 [==============================] - 0s 241ms/step

array([[76.09324 , 81.34177 , 59.944572]], dtype=float32)